html, body {
    overflow-x: hidden;
    background-color: #000;
}

/* --------IMPORT DAS FONTES---------- */
@font-face {
    font-family: 'Kaitou';
    src: url('./fonts/kaitouyokokugothic-heavy-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains';
    src: url('./fonts/JetBrainsMonoNLNerdFontMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (width <= 768px) {
  header {
    display: none;
  }
  #inicio span{
    margin-top: 4vh;
  }
}

@media (width > 768px) {
    header {
        display: grid;
        grid-template-columns: min-content min-content min-content min-content min-content;
        align-items: center;
        justify-content: center;
        gap: 7vw;
        user-select: none;

        font-family: 'JetBrains';
        color: #F5F5F5;
        background-color: #000;

        position: fixed;
        z-index: 2;
        height: 3.5vh;
        width: 100vw;
  }

  header span:hover{
    cursor: pointer;
  }
  #inicio span{
    margin-top: 10vh;
  }
}

/* --------INICIO---------- */

#inicio {
    display: grid;
    grid-template-rows: 85dvh 15dvh;
    grid-template-columns: 1fr;

    width: 100vw;
    height: 100dvh;
    background: linear-gradient(to bottom, #831A17, #000);
    justify-content: center;
}

#inicio span{
    width: min-content;
    height: min-content;
    font-size: 19vh;
    white-space: nowrap;
    vertical-align: middle;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    justify-self: center;
    font-family: 'Kaitou'; 
    color: #F5F5F5;
}

#inicio svg {
    height: 10vh;
    aspect-ratio: 1 / 1 ;

    color: white;
    justify-self: center;
    align-self: center;
}

#inicio svg:hover {
    cursor: pointer;
}

/* --------FORMAÇÃO---------- */

#formacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100vw;
    height: fit-content;
    background-color: #000;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#formacao > h1 {
    width: 80vw;
    align-self: center;
    margin-bottom: 5vh;
    font-size: min(6vw, 26pt);
    font-family: 'JetBrains';
    color: #F5F5F5;
}

.formacao-container {
    display: grid;
    grid-template-rows: max-content;
    align-items: center;

    margin-bottom: 10vh;
    width: 100vw;
    height: fit-content;
}

.formacao-container img {
    height: 10vh;
    border-radius: 10%;
    margin-bottom: 3vh;
    justify-self: center;
    aspect-ratio: 1 / 1;
}

.formacao-container h1 {
    justify-self: center;
    font-size: min(6vw, 26pt);
    font-family: 'JetBrains';
    color: #F5F5F5;

    margin-top: 2vh;
    margin-bottom: 2vh;
    width: min(80%, 500px);
}

.formacao-container span{
    font-size: min(4.7vw, 22pt);
    font-family: 'JetBrains';
    color: #F5F5F5;

    width: min(80%, 500px);
    justify-self: center;
}

.end h1, .end span {
    text-align: end;
}

/* --------PROJETOS---------- */

#projetos {
    scroll-margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-bottom: 10vh;
    background-color: #000;
    width: 100vw;
}

#projetos h1 {
    font-size: min(6vw, 26pt);
    font-family: 'JetBrains';
    color: #F5F5F5;

    margin-top: 2vh;
    margin-bottom: 1.8vh;
    width: 80vw;
}

#projetos a{
    font-size: min(5vw, 20pt);
    font-family: 'JetBrains';
    color: #F5F5F5;

    width: 80vw;
    margin-bottom: 2vh;
    transition: transform 0.2s ease-in-out;
    transform-origin: left top;
}

#projetos a:hover{
    transform: scale(1.1);
}


/* --------SOBRE MIM---------- */

#sobremim {
    scroll-margin-top: 4vh;
    display: grid;
    width: 100vw;
    padding-bottom: 15dvh;
    grid-template-rows: fit-content;
    background-color: #000;
}

#sobremim div {
    display: grid;
    height: max-content;
    
}

#sobremim img{
    justify-self: center;
    width: min(70vw, 500px);
    aspect-ratio: 3 / 2;
    border-radius: 20px;
}

#sobremim div > :first-child {
    transform: rotate(8deg);
}

#sobremim div > :last-child {
    transform: rotate(-8deg);
    margin-bottom: 10vh;
}

#sobremim h1{
    font-size: min(6vw, 37pt);
    text-align: center;
    font-family: 'JetBrains';
    color: #F5F5F5;

    width: 80vw;
    justify-self: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#sobremim span {
    font-size: min(4.7vw, 22pt);
    font-family: 'JetBrains';
    color: #F5F5F5;

    width: min(80vw, 700px);
    text-align: center;
    justify-self: center;
    margin-bottom: 15vh;
}

/* --------CONTATO---------- */

#contato {
    scroll-margin-top: 4vh;
    display: grid;
    padding-top: 5vh;
    width: 100vw;
    height: max-content;
    grid-template-rows: fit-content;
    align-items: center;
    background: linear-gradient(to top, #831A17, #000);
}

#contato > :first-child {
    display: grid;
    grid-template-columns: fit-content;
    
}

#contato > :first-child span{
    color: white;
    font-family: 'JetBrains';
    width: min(80vw, 500px);
    justify-self: center;
    font-size: min(7vw, 22pt);
    margin-bottom: 3vh;
}

#contato > :first-child input, 
#contato > :first-child textarea{
    font-size: 2.3vh;
    border: none;
    border: solid 1px #ccc;
    border-radius: 15px;
    padding-left: max(1vw, 10px);
    font-family: 'JetBrains';

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    margin-bottom: 2vh;
    width: min(80vw, 500px);
    height: 5vh;
    justify-self: center;
}

#contato > :first-child :nth-child(5) {
    align-items: start;
    box-sizing: border-box;
    padding-top: 1vh;
    height: 20vh;
    user-select: none;
}

#contato > :first-child :nth-child(6) {
    background-color: #000;
    color: #F5F5F5;
    text-align: start;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#contato > :first-child :nth-child(6):hover {
    cursor: pointer;
}

#contato > :nth-child(2) { 
    display: grid;
    grid-template: min-content min-content min-content / 1fr min-content;
    align-items: center;
    margin-top: 5vh;
}

#contato > :nth-child(2) svg {
    height: 4vh;
    aspect-ratio: 1 / 1;
    justify-self: end;
    color: white;
}

#contato > :nth-child(2) a {
    font-size: 3vh;
    text-decoration: none;
    justify-self: start;
    padding-left: 7px;
    margin-right: 5vw;
    color: white;
    font-family: 'JetBrains';
}

#contato > :nth-child(2) > :last-child {
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    margin-right: 3vw;
    color: white;
    font-family: 'JetBrains';
    
    grid-column: span 2;
    justify-self: end;
}

/* --------NOTIFICAÇÃO---------- */

#notificacao {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.295);
    z-index: 9999;

    display: none;
    align-items: center;
    justify-content: center;
}

#notificacao div {
    display: grid;
    padding: 2vh;
    gap: 2vh;

    
    width: min(85vw, 500px);
    height: max-content;
    background-color: white;
    border-radius: 5px;

}

#notificacao span {
    font-family: 'JetBrains';
    font-size: min(3vh, 22pt);
    justify-self: center;
    text-align: center;
}

#notificacao button {
    width: fit-content;
    background-color: #831A17;
    color: white;
    font-size: min(4vh, 18pt);
    border: 1px black;
    font-family: 'JetBrains';
    border-radius: 5px;
    justify-self: center;
    user-select: none;
}

#notificacao button:hover{
    cursor: pointer;
}
